.container{
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
   align-items: center;
    background-image: url(../image/pexels-ryan-millier-3228675.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.content{
    height: 78vh;
    width: 100%;
    position: relative;
    display: flex;
    order: 2;
}
.title{
    width: 100%;
    height: 10vh;
    margin: 10px 0;
    position: relative;
    text-align: center;
    order: 1;
}
.title p:nth-child(1){
    color: white;
    font-size: 3em;
    font-weight: 900;
}
.title p:nth-child(2){
    color: white;
    font-size: 1.5em;
    font-weight: 900;
}
/* ----Location----- */
.location{
    width: 50%;
    height: auto;
    position: relative;
    
    
}
.info{
    width: 100%;
    height: auto; /* turn in auto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info .icon {
    width:40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.icon i {
    color: black;
}
.info-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

}
.text{
    width: 80%;
    display: flex;
    color: white;
    justify-content: flex-start;
}
.text a{
  text-decoration: none;
 color: white;
  font-size: 1.6em;
  font-weight: 900;
}
.text p{
    font-size: 1.3em;
    font-weight: 900;
}
/*------ Contact---- */
.contact{
    width: 50%;
    position: relative;
    height: auto;
}
.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: white;
    border-radius:10px ;
    padding: 5em;
}
.form input{
    margin: 10px 0;
    border: 1px solid black;
    padding: 5px;
}
textarea{
    border: 1px solid black;
    font-size: 1em;
}
/* Media */
@media(min-width:280px) and (max-width:768px){
    .container{
        height: auto;
        margin-top: 8vh;
        flex-direction: column;
    }
    .content{
        flex-direction: column;
    }
  .title p:nth-child(1){
    font-size: 1.5em;
    }
  .title p:nth-child(2){
    font-size: 0.8em;
    }
    .location{
        width: 100%;
        height: 50vh;
        order: 2;
    }
    .contact{
        width: 100%;
        height: 100vh;
        order: 1;
    }
    .info-container{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .text{
        width: 50%;
    }
    .text a{
        font-size: 1em;
    }
    .text p{
        font-size:0.8em;
    }
    /* Contact */
    .form{
        padding:2em 4em;
    }
}