@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Home layout */
.home-container{
    
    width: 100%;
    height: auto;
   
}
.background-restaurant{
    width: 100%;
    height: 100vh;
    background-image: url(/image/restaurant-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap: break-word;
}
#restaurant-name{
    color: white;
    font-family: 'Bonheur Royale', cursive;
    font-size: 8em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-top: 135px;
}
#restaurant-description{
    color: white;
    font-size: 1.5em;
   padding:0 30%;
}
/* Food Home */
.food-home{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.food-card{
    width: 25%;
    height: 70%;
}
.info{
    width: 100%;
    height: 30%;
    text-align: center;
    position: relative;
}
.promotion{
    font-size: xx-large;
    color: white;
    font-weight: 900;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}
.product{
    width: 100%;
    height: 70%;
}
.product img{
    width: 100%;
    height: 100%;
}
/*-------Media------ */

@media(min-width:280px) and (max-width:768px){
    .home-container{
        margin-top: 9.5vh;
    }
    .background-restaurant{
        height: 90.5vh;
    }
    #restaurant-name{
        font-size: 3em;
    }
    #restaurant-description{
        padding: 0 10%;
        font-size: 1em;
    }
    /* Food home */
    .food-home{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    }
    .food-home h2{
        font-size: small;
    }
    .food-card{
    width: 50%;
}
   .promotion{
    font-size: small;
    color: white;
    font-weight: 900;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}
}