@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Home layout */
.home-container{
    margin-top: 12.5vh;
    width: 100%;
    height: auto;
   
}
.background-restaurant{
    width: 100%;
    height: 100vh;
    background-image: url(/image/restaurant-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#restaurant-name{
    color: white;
    font-family: 'Bonheur Royale', cursive;
    font-size: 8rem;
    display: flex;
    justify-content: center;
}
/*-------Media------ */

@media(min-width:280px) and (max-width:768px){
    .home-container{
        margin-top: 9.5vh;
    }
    #restaurant-name{
        font-size: 3em;
    }
}