*{
    margin:0;
    padding: 0;
}
/* Navigation for all pages*/
.functional-info{
position: fixed;
width: 100%;
height: 3vh;
top: 0;
left: 0;
box-sizing: border-box;
padding: 0 1em;
transition: top 0.3s;
z-index: 10;
background-color: rgb(255, 255, 255);
}
.header-info ul{
    display: flex;
    flex-direction: row;
}
.header-info li{
    display: flex;
    flex-direction: row;
    margin-left: 1.8em;
}
.header-info li p {
    margin-left:0.5em;
    font-weight: 900;
    color: rgb(105, 105, 100);
}
.header {
display: flex;
justify-content: space-between;
position: fixed;
top:3vh;
left: 0;
width: 100%;
height: 9vh;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 10px 0 rgb(0, 0, 0);
transition: top 0.3s;
z-index: 9;
}
.logo img{
width: 80px;
height: 60px;
border-radius: 10px;
}
.logo{
display: flex;
align-items: center;
margin-left: 20px;
}
.nav-links {
display: flex;
align-items: center;
padding: 16px;
margin-right: 20px;
}
.nav-links li {
display: inline-block;
padding: 0 20px ;
margin: 10px;
}
.nav-links a {
text-decoration: none;
color: rgb(0, 0, 0);
font-family: 'Roboto', sans-serif;
font-size: 20px;
}
.burger {
display: none;
}
.burger div {
width: 25px;
height: 4px;
background-color: rgb(0, 0, 0);
margin: 3px;
transition: all 0.3s ease;
float: right;
border-radius: 10px;
}
ul a::after {
display: block;
content: " ";
border-bottom: solid 2px rgb(255,127,0);
border-radius: 2px;
padding: 0 0 2px;
transform: scale(0);
transition: transform 0.4s ease-in-out;
}
a:hover::after { transform:scaleX(1); }
a::after {
transform-origin: 0% 100%;
}
.nav-links li:hover{
transform: scale(1.1);
}
a:hover{
color: rgba(78, 78, 78, 0.986);
}



/* Media queri */
@media(min-width:280px) and (max-width:768px){
    .functional-info{
        display: none;
    }
    .header{
        top: 0;
    }
.nav-links {
position: fixed;
right: 0px;
height: 70vh;
top: 9.5vh;
background-color: #d5e5f7;
box-shadow:10px 0 0  0 rgb(178, 234, 241);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 100%;
transform: translateX(-120%);
transition: transform 1s ease-in;
}
.nav-links li {
opacity: 0;
padding: 20px;
}
.nav-links a{
    font-size: 25px;
}
.burger {
display: flex;
flex-direction: column;
justify-content: center;
cursor: pointer;
margin-right: 15px;

}
.nav-active {
transform: translateX(-10%);
}
@keyframes navLinkFade {
from {
opacity: 0;
transform: translateX(5px);
}
to {
opacity: 1;
transform: translateX(0);
}}
.toggle .line1 {
transform: rotate(-45deg) translate(-14px,-1px);
}
.toggle .line2 {
opacity: 0;
}
.toggle .line3 {
transform: rotate(45deg) translate(-15px,-1px);
}
  .presentation2 p{
   top: 24%;
    font-size: 30px;
}
 .descriptione{
  
    bottom: 160px;
    background-color: #f1f1f193;
    
}
.descriptione p:nth-child(1){
    font-size: 20px;
}
.descriptione p:nth-child(2){
    margin: 20px;
    font-size: 15px;
}
}
